@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* fonts */
  @font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonte/montserrat.woff2") format("woff2");
  }

  @font-face {
    font-family: "dynapuff";
    font-style: normal;
    font-weight: 700;
    src: url("../fonte/dynapuff.woff2") format("woff2");
  }

  /* generelle styles */
  h1 {
    @apply text-m-h1;
  }

  h2 {
    @apply text-m-h2;
  }

  h3 {
    @apply text-m-h3;
  }

  h4 {
    @apply text-m-h4;
  }

  body {
    @apply text-m-body;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-dynapuff;
  }

  h1,
  h3,
  h4,
  p {
    @apply text-blue-950;
  }

  h2 {
    @apply text-blue-800;
  }

  header,
  body {
    @apply bg-blue-50;
    @apply font-montserrat;
  }

  footer {
    @apply bg-blue-200;
  }

  /* desktop styles */
  @media (min-width: 768px) {
    h1 {
      @apply text-d-h1;
    }

    h2 {
      @apply text-d-h2;
    }

    h3 {
      @apply text-d-h3;
    }

    h4 {
      @apply text-d-h4;
    }

    body {
      @apply text-d-body;
    }
  }
}
