@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* fonts */
  @font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonte/montserrat.woff2") format("woff2");
  }

  @font-face {
    font-family: "dynapuff";
    font-style: normal;
    font-weight: 700;
    src: url("../fonte/dynapuff.woff2") format("woff2");
  }

  /* generelle styles */
  html {
    @apply font-montserrat;
    @apply text-m-h1;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-dynapuff;
  }

  h1,
  h3,
  h4,
  p {
    @apply text-blue-950;
  }

  h2 {
    @apply text-blue-800;
  }

  header,
  main {
    @apply bg-blue-50;
  }

  footer {
    @apply bg-blue-200;
  }

  /* desktop styles */
  @media (min-width: 768px) {
    h1 {
      @apply text-d-h1;
    }
  }
}
