---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Card from "../components/CardOmOs.astro";
import { Image } from 'astro:assets';
import kat1 from "../assets/images/omos_foto.png";
---
<MainLayout title="Purrfect Box">
       <Image class="" src={kat1} alt="Billede der viser en kat"/>

       <section class="lg:mx-d-3xl entrance">
            <h2 class="font-bold lg:my-d-m">Om os</h2>
            <div class="grid lg:grid-cols-[1fr_1fr] gap-d-5xl">
                <div class="">
                    <h3 class="font-bold pb-d-xs">Teamet</h3>
                    <p class="pb-d-xxs">Purrfect Box er et glad og ydmygt katteabonnementsboksfirma, der finder bopæl i Danmark. Purrfect Box drives af rigtige mennesker, som virkelig elsker katte, og som bekymrer sig om deres kunder. </p>
                    <p>Vi brænder for at gøre hverdagen nemmere for katteejere og sikre, at din kat altid har adgang til de bedste produkter. Med en kombination af kvalitet, omtanke og kærlighed arbejder vi hver dag for at skabe en løsning, der både glæder katte og deres ejere.</p>
                </div>

                <div class="">
                    <h3 class="font-bold pb-d-xs">Purrfect Box</h3>
                    <p class="pb-d-xxs">Vores mission er at dele vores passion med dig for at opdage sjove nye katteprodukter og tilføje berigelse til din killings legetid. Vi tror på, at katte fortjener det bedste – både når det kommer til kvalitet og sjov – og vi arbejder hårdt for at bringe nye, spændende produkter til dig og din kat.</p>
                    <p>Vi er lidt ligesom en Purrfect Box i sig selv: sød, unik og godt sat sammen. Med en kombination af kreativitet og omtanke stræber vi efter at gøre hver levering til en glædelig oplevelse for både dig og din kat.</p>
                </div>
            </div>
       </section>

       <section class="">
        <h3 class="font-bold mx-d-3xl">Vores værdier</h3>
       </section>

       <div class="gradient">
       <section class="lg:mx-d-3xl">
          <h3 class="font-bold">Mød teamet</h3>

          <div class="grid lg:grid-cols-[1fr_1fr] gap-d-3xl  overflow-hidden mb-d-3xl lg:mx-d-3xl fotoinview">
           <Card
				cardimage="../images/omos_01.png"
                cardimagealt="Miv"
                navn="Miv Berg"
                titel="Co-Founder & Chief Executive Officer"
                tekst="Bortset fra at fungere som Purrfect Box's kontorchef, er Miv en kattemor til kontorulykken Bobo.">
            </Card>
           <Card
				cardimage="../images/omos_02.png"
                cardimagealt="Laura"
                navn="Laura Nielsen"
                titel="Co-Founder & Chief Technology Officer"
                tekst="Laura elsker krimidokumentarer, mad, bøger og at rejse. Hun er desværre uden kat, så hun må nøjes med hendes bamser..">
            </Card>
           </div>

            <div class="grid lg:grid-cols-[1fr_1fr] gap-d-3xl overflow-hidden mb-d-3xl lg:mx-d-3xl fotoinview2">
            <Card
				cardimage="../images/omos_03.png"
                cardimagealt="Sofie"
                navn="Sofie Andersson"
                titel="Co-Founder & Chief Content Manager"
                tekst="Bortset fra at fungere som Purrfect Box's kontorchef, er Sofie en kattemor til kontor englen Iris.">
            </Card>
            <Card
				cardimage="../images/omos_04.png"
                cardimagealt="Iris"
                navn="Iris"
                titel="Co-Chief Feline Officer"
                tekst="Iris elsker at bruge sin dag på at spise plastik, sove hvor det passer hende og lege med alt andet end hendes legetøj.">
            </Card>
           </div>

            <div class="grid lg:grid-cols-[1fr_1fr] gap-d-3xl overflow-hidden lg:mx-d-3xl fotoinview">
            <Card
				cardimage="../images/omos_05.png"
                cardimagealt="Bobo"
                navn="Bobo"
                titel="Co-Chief Feline Officer"
                tekst="Bobo elsker opmærksomhed, og har du tyggegummi, snupper hun gerne pakken tehe.">
            </Card>
            <Card
				cardimage="../images/omos_06.svg"
                cardimagealt="Bingle McPawprint"
                navn="Bingle McPawprint"
                titel="Maskot"
                tekst="Hej! Du har nok set mig lege rundt på hjemmesiden. Jeg er her bare hele tiden, så giv mig gerne et klap på maven hvis du har lyst.">
            </Card>
           </div>

       </section>
       </div>

</MainLayout>

<style>
    .gradient {
	background: linear-gradient(-45deg, #f0f9ff, #fef2f5, #dff2ff, #fdfae9, #f0f9ff, #fef2f5, #dff2ff, #fdfae9);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>


	<script>
	/* Import af Motion One biblioteket */
	import { animate, stagger, inView, scroll, timeline } from "motion";

    	/* inView animation */
	inView( ".fotoinview" , () =>{
	animate( ".fotoinview", { x: [-2000, 0 ] }, { duration: 3 })
	})

     	/* inView animation */
	inView( ".fotoinview2" , () =>{
	animate( ".fotoinview2", { x: [2000, 0 ] }, { duration: 3 })
	})

    inView( ".entrance" , () =>{
    animate( ".entrance", { opacity: [ 0, 1] }, { duration: 1 })
    })
	</script>