---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import kat1 from "../assets/images/omos_foto.png";
---
<MainLayout title="Purrfect Box">
       <Image class="" src={kat1} alt="Billede der viser en kat"/>

       <section class="lg:mx-d-3xl">
            <h2 class="font-bold lg:my-d-m">Om os</h2>
            <div class="grid lg:grid-cols-[1fr_1fr] gap-d-5xl">
                <div class="">
                    <h3 class="font-bold pb-d-xs">Teamet</h3>
                    <p class="pb-d-xxs">Purrfect Box er et glad og ydmygt katteabonnementsboksfirma, der finder bopæl i Danmark. Purrfect Box drives af rigtige mennesker, som virkelig elsker katte, og som bekymrer sig om deres kunder. </p>
                    <p>Vi brænder for at gøre hverdagen nemmere for katteejere og sikre, at din kat altid har adgang til de bedste produkter. Med en kombination af kvalitet, omtanke og kærlighed arbejder vi hver dag for at skabe en løsning, der både glæder katte og deres ejere.</p>
                </div>

                <div class="">
                    <h3 class="font-bold pb-d-xs">Purrfect Box</h3>
                    <p class="pb-d-xxs">Vores mission er at dele vores passion med dig for at opdage sjove nye katteprodukter og tilføje berigelse til din killings legetid. Vi tror på, at katte fortjener det bedste – både når det kommer til kvalitet og sjov – og vi arbejder hårdt for at bringe nye, spændende produkter til dig og din kat.</p>
                    <p>Vi er lidt ligesom en Purrfect Box i sig selv: sød, unik og godt sat sammen. Med en kombination af kreativitet og omtanke stræber vi efter at gøre hver levering til en glædelig oplevelse for både dig og din kat.</p>
                </div>
            </div>
       </section>

</MainLayout>