---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
// import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Purrfect Box">
	<article>
		<h1>Fomular</h1>
		<Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<!-- <Image src={thumbsup} alt=""></Image> -->
	</article>

    <section class="grid lg:grid-cols-[1fr_5fr] mx-m-sm lg:mx-d-3xl">
        <div class="bg-blue-200">
            <h2>Basic box</h2>
        </div>

        <div class="bg-blue-200">
            <h3>Dine informationer</h3>
            <form class="">
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-blue-950 ">Your email</label>
                <input type="email" id="email" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="navn@purrfect.com" required />
            </div>
            <div class="mb-5">
                <label for="password" class="block mb-2 text-sm font-medium text-blue-950 ">Your password</label>
                <input type="password" id="password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
            </div>
            <div class="mb-5">
                <label for="repeat-password" class="block mb-2 text-sm font-medium text-blue-950 ">Repeat password</label>
                <input type="password" id="repeat-password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
            </div>
            </form>

            <h3>Dine informationer</h3>
            <form class="">
                <div class="grid lg:grid-cols-[1fr_1fr]">
                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-blue-950 ">Your email</label>
                        <input type="email" id="email" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@flowbite.com" required />
                    </div>
                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-blue-950 ">Your password</label>
                        <input type="password" id="password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    </div>
                </div>

                <div class="grid lg:grid-cols-[4fr_2fr_1fr]">
                    <div class="mb-5">
                        <label for="repeat-password" class="block mb-2 text-sm font-medium text-blue-950 ">password</label>
                        <input type="password" id="repeat-password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    </div>
                    <div class="mb-5">
                        <label for="repeat-password" class="block mb-2 text-sm font-medium text-blue-950 ">password</label>
                        <input type="password" id="repeat-password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
                    </div>
                    <div class="mb-5">
                        <label for="repeat-password" class="block mb-2 text-sm font-medium text-blue-950 ">password</label>
                        <input type="password" id="repeat-password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
                    </div>
                </div>

                 <div class="grid grid-cols-[1fr_1fr]">
                    <div class="mb-5">
                        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">Select your country</label>
                        <select id="countries" class="bg-blue-50 border  text-gray-900 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

                            <option>Danmark</option>
                        </select>
                    </div>
                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-blue-950 ">Your password</label>
                        <input type="password" id="password" class="shadow-sm bg-blue-50 border text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    </div>
                </div>
            </form>

            <fieldset>
            <legend class="sr-only">Countries</legend>

            <div class="flex items-center mb-4">
                <input id="country-option-1" type="radio" name="countries" value="USA" class="w-4 h-4  focus:ring-2 focus:ring-blue-300  " checked>
                <label for="country-option-1" class="block ms-2  text-sm font-medium text-gray-900 ">
                United States
                </label>
            </div>

            <div class="flex items-center mb-4">
                <input id="country-option-2" type="radio" name="countries" value="Germany" class="w-4 h-4  focus:ring-2 focus:ring-blue-300  ">
                <label for="country-option-2" class="block ms-2 text-sm font-medium text-gray-900 ">
                Germany
                </label>
            </div>

            <div class="flex items-center mb-4">
                <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4  focus:ring-2 focus:ring-blue-300">
                <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 ">
                Spain
                </label>
            </div>

            <div class="flex items-center mb-4">
                <input id="country-option-4" type="radio" name="countries" value="United Kingdom" class="w-4 h-4  focus:ring-2 focus:ring-blue-300" >
                <label for="country-option-4" class="block ms-2 text-sm font-medium text-gray-900 ">
                United Kingdom
                </label>
            </div>

            </fieldset>

            <form class="">
                <div class="grid lg:grid-cols-[4fr_2fr_1fr]">
                                <div class="mb-5">
                                    <label for="repeat-password" class="block mb-2 text-sm font-medium text-blue-950 ">password</label>
                                    <input type="password" id="repeat-password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                                </div>
                                <div class="mb-5">
                                    <label for="repeat-password" class="block mb-2 text-sm font-medium text-blue-950 ">password</label>
                                    <input type="password" id="repeat-password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
                                </div>
                                <div class="mb-5">
                                    <label for="repeat-password" class="block mb-2 text-sm font-medium text-blue-950 ">password</label>
                                    <input type="password" id="repeat-password" class="shadow-sm bg-blue-50 border  text-blue-950 text-sm rounded-default focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required />
                                </div>
                            </div>
            </form>

            <fieldset>
            <legend class="sr-only">Checkbox variants</legend>

            <div class="flex items-center mb-4">
                <input checked id="checkbox-1" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-blue-50  rounded focus:ring-blue-500 " >
                <label for="checkbox-1" class="ms-2 text-sm font-medium text-gray-900 ">I agree to the <a href="#" class="text-blue-600 hover:underline ">terms and conditions</a>.</label>
            </div>

            <div class="flex items-center mb-4">
                <input id="checkbox-2" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-blue-50  rounded focus:ring-blue-500 ">
                <label for="checkbox-2" class="ms-2 text-sm font-medium text-gray-900 ">I want to get promotional offers</label>
            </div>

            <div class="flex items-center mb-4">
                <input id="checkbox-3" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-blue-50  rounded focus:ring-blue-500 ">
                <label for="checkbox-3" class="ms-2 text-sm font-medium text-gray-900 ">I am 18 years or older</label>
            </div>
            </fieldset>

        </div>
    </section>

</MainLayout>