---
import '../styles/tailwind.css';
---
<!-- Login form for projektet -->
<div class="absolute top-[50%] left-[50%] w-[400px] p-[40px] translate-x-[-50%] translate-y-[-50%] bg-blue-200 box-border rounded-default shadow-drop10">
  <h1 class="mb-[40px] p-0 text-center">Login</h1>
  <form>
    <div class="relative">
        <label class="top-0 left-0 px-[10px] text-blue-950 pointer-events-none transition duration-[.5s] ease-in-out">Team nummer</label>
        <input type="text" name="" required="" placeholder="Team12" class="placeholder-blue-800 w-[100%] p-x-[10px] mb-[30px] border-0 border-b-[2px] border-blue-50 hover:border-pink-500 outline-none rounded-default">
     
    </div>
    <div class="relative">
      <input type="password" name="" required="" placeholder="LMS" class="placeholder-blue-800 w-[100%] p-x-[10px] mb-[30px] border-0 border-b-[2px] border-blue-50 hover:border-pink-500 outline-none rounded-default">
      <label>Password</label>
    </div>
  </form>
</div>

<style>


.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

</style>