---
import { Image } from 'astro:assets';
// import headerimg from "../assets/images/produkter_header.svg"

import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Purrfect Boxes">
    <section class="w-full h-auto bg-[url('../img/produkter_header.svg')] bg-center bg-no-repeat bg-cover flex flex-col justify-center">
        <div>
        <h1 class="pb-m-m md:pb-d-m">Purrfect Boxes</h1>
        <h2 class="pb-m-sm md:pb-d-sm">Overblik over vores Purr Boxes</h2>
        <p>Tag et kig og find den rette boks til dig og din kat. Vi har sammen med vores fællesskab tilpasset disse bokse,
            så der er noget til enhver smag. Undersøg mere om hver enkelt boks, eller bestil din egen nu i dag!</p>
            </div>
    </section>



</MainLayout>