---
import { Image } from 'astro:assets';
import headerimg from "../assets/images/produkter_header.svg"

import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Purrfect Boxes">
    <section class="w-screen h-auto">
        <Image src={headerimg} alt="Header billede" class="w-full h-auto object-cover object-center"></Image>
        <!-- <div class="bg-[url('../img/forside_nyhedsbrev.svg')] py-d-sm"></div> -->
    </section>



</MainLayout>