---
import "../styles/tailwind.css";
const { titel = "", indhold = "", review = "" } = Astro.props;
---

<div class="flex justify-center items-center text-blue-50 py-d-s">
  <div
    id="accordion"
    class="w-[90%] overflow-hidden rounded-default flex flex-col"
  >
    <div class="item">
      <div
        class="header p-d-s bg-pink-600 flex justify-between items-center cursor-pointer"
      >
        <div>
          <h4>{titel}</h4>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 activeIcon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 15.75 7.5-7.5 7.5 7.5"></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 inactiveIcon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
        </svg>
      </div>
      <div class="content bg-pink-500 transition-all duration-500">
        <p id="accordiontext">{indhold}</p>
      </div>
    </div>
  </div>
</div>

<script>
  let items = document.querySelectorAll<HTMLDivElement>(
    "#accordion .item .header"
  );

  items.forEach((item) => {
    item.addEventListener("click", (e) => {
      const target = e.currentTarget as HTMLElement; // Cast til HTMLElement
      target.closest(".item")?.classList.toggle("active");
    });
  });
</script>
