---
import { Image } from 'astro:assets';
import logo from "../assets/images/logo.svg";
import Link from './Link.astro';

---
<div>
    <div>
        <ul class="w-full h-auto flex flex-row items-center gap-d-s">
            <li><a href="/"><Image src={logo} alt=""></Image></a></li>
            <li><a href="#processen">Processen</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="/about">Om os</a></li>
        </ul>
    </div>
</div>
